* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
}

.usernameStyle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.usernameStyle span {
    padding-left: 20px;
}